<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">


    <!-- 分页查询菜品 -->
    <resultMap id="dishVOResultMap" type="com.sky.vo.DishVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="categoryId" column="category_id"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="updateTime" column="update_time"/>
        <result property="categoryName" column="categoryName"/>

        <collection property="flavors" ofType="com.sky.entity.DishFlavor">
            <id property="id" column="flavorId"/>
            <result property="name" column="flavorName"/>
            <result property="value" column="flavorValue"/>
            <result property="dishId" column="flavorDishId"/>
        </collection>
    </resultMap>

    <select id="pageQuery" resultMap="dishVOResultMap">
        select
        d.*,
        c.name as categoryName,
        df.name as flavorName,
        df.value as flavorValue,
        df.id as flavorId,
        df.dish_id as flavorDishId
        from dish d
        left join category c on d.category_id = c.id
        left join dish_flavor df on d.id = df.dish_id
        <where>
            <if test="name != null and name != ''">
                and d.name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>
        order by d.create_time desc
    </select>

    <!-- update -->

    <update id="update">
        update dish
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <!-- selectByCategoryId -->
    <resultMap id="dishVOResultIdMap" type="com.sky.vo.DishVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="categoryId" column="category_id"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="updateTime" column="update_time"/>
        <result property="categoryName" column="categoryName"/>

        <collection property="flavors" ofType="com.sky.entity.DishFlavor">
            <id property="id" column="flavorId"/>
            <result property="name" column="flavorName"/>
            <result property="value" column="flavorValue"/>
            <result property="dishId" column="flavorDishId"/>
        </collection>
    </resultMap>

    <delete id="deleteBatch">
        delete from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectByCategoryId" resultMap="dishVOResultIdMap">
        select d.*,
               c.name     as categoryName,
               df.id      as flavorId,
               df.dish_id as flavorDishId,
               df.name    as flavorName,
               df.value   as flavorValue
        from dish d
                 left join dish_flavor df on d.id = df.dish_id
                 left join category c on d.category_id = c.id

        where d.category_id = #{categoryId}
    </select>

    <!-- selectBatch -->

    <select id="selectBatch" resultType="com.sky.entity.Dish">
        select * from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>
